/* DISCOUNT STYLES & ADDITIONAL STYLES */
:root {
  --secondery-color: #404bbf;
  --header-color: #434455;
  --accent-color: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-origin: #f4f4fd;
  --primary-color: #ffffff;
  --portfolio-color: #2e2f42;
}
.body {
  font-family: var(--primary-font);
  color: var(--header-color);
  background-color: var(--primary-color);
}
.list {
  list-style: none;
}
.link {
  color: var(--portfolio-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid blue;
}
/*HEADER*/
.header-main {
padding-top: 25.5px;
padding-bottom: 25.5px;
border-bottom: 1px solid #e7e9fc ;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-studio {
  color: var(--portfolio-color);
}
.logo-header {
  margin-right: 76px;
}
.menu-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
.menu-link-contact {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
.haeder-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-contacts {
  display: flex;
  align-items: center;
}
.menu-item-contacts:not(:last-child) {
  margin-right: 40px;
}
.header-adress {
  font-style: normal;
  margin-left: auto;
}
/* HERO */

.hero {
  background: var(--portfolio-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 292px;
  margin: 0 auto;
  text-align: center;
}
.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.02em;
  width: 496px;
  color: var(--primary-color);
}
.hero-button {
  margin-top: 40px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--primary-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-color);
  background-color: var(--secondery-color);
}

/* ABOUT US LIST WORKS */
.main-about {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
}
.main-list {
  display: flex;
  gap: 24px;
  outline: 1px solid red;
}
.item-about {
  margin: 0;
  flex-basis: calc((100% - 3 * 24px) / 4);
  outline: 1px solid green;
}
.main-text {
  display: flex;
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.link-team {
  background-color: var(--primary-color);
  text-align: center;
}
.list-team {
  background-color: var(--primary-color);
}

/* SUBTITLE */
.subtitle {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--portfolio-color);
}
.subtitle-team {
  font-size: 36px;
  padding-top: 120px;
  padding-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--portfolio-color);
}
.list-works {
  text-align: center;
}
.menu-team {
  background-color: var(--background-origin);
}
/* WHAT ARE WE DOING */
.list-works {
  display: flex;
  gap: 24px;
  padding: 0;
}
/* OUR TEAM */
.menu-team {
  background: #f4f4fd;
  text-align: center;
}
.list-team {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
.list-team > .link-team {
  flex-basis: calc(100% / 4);
  margin-left: 15px;
  margin-right: 15px;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  padding-top: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--portfolio-color);
}
.profession-team {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 8px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--header-color);
}
.card-studio {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* FOOTER */
.footer {
  background-color: var(--portfolio-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-origin);
}
.footer-logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-origin);
}
/* NOT-VISIBLI */
.not-visibli {
  margin-bottom: 0;
  margin-top: 120px;
  visibility: hidden;
}
/* <!-- BUTTON PORTFOLIO --> */
.portfolio-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-origin);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-color);
  background-color: var(--secondery-color);
}
/* <!-- LIST WORKS --> */
.main-about {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
}
/* <!-- LIST WORKS --> */
