/* DISCOUNT STYLES & ADDITIONAL STYLES */
:root {
  --secondery-color: #404bbf;
  --header-color: #434455;
  --accent-color: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-origin: #f4f4fd;
  --primary-color: #ffffff;
  --portfolio-color: #2e2f42;
}
.body {
  font-family: var(--primary-font);
  color: var(--header-color);
  background-color: var(--primary-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*HEADER*/
.header-main {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-studio {
  color: var(--portfolio-color);
}
.logo-header {
  margin-right: 76px;
}
.menu-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
.menu-link-contact {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--secondery-color);
  text-decoration: underline;
}
.haeder-container {
  display: flex;
}
.header-nav {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-contacts {
  display: flex;
  align-items: center;
}
.menu-item-contacts:not(:last-child) {
  margin-right: 40px;
}
.header-adress {
  font-style: normal;
  margin-left: auto;
}
/* HERO */

.hero {
  background: var(--portfolio-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-text {
  font-weight: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-color);
  margin-bottom: 48px;
}
.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 32px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-color);
  background-color: var(--secondery-color);
}

/* ABOUT US LIST WORKS */
.section-about {
  padding-top: 120px;
}
.main-about {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--portfolio-color);
}
.main-list {
  display: flex;
}
.item-about:not(:last-child) {
  margin-right: 24px;
}
.item-about {
  flex-basis: 264.5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-about {
  margin-bottom: 8px;
}
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.link-team {
  background-color: var(--primary-color);
  text-align: center;
}
.list-team {
  background-color: var(--primary-color);
}

/* SUBTITLE */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--portfolio-color);
  margin-bottom: 72px;
}

.link-works:not(:nth-child(3)) {
  margin-right: 24px;
}
.menu-team {
  background-color: var(--background-origin);
}
/* WHAT ARE WE DOING */
.main-works {
  padding-top: 120px;
  padding-bottom: 120px;
  color: var(--primary-color);
}
.list-works {
  display: flex;
  flex-wrap: wrap;
}
/* OUR TEAM */

.menu-team {
  background-color: var(--background-origin);
  text-align: center;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-team {
  display: flex;
  flex-wrap: wrap;
}
.link-team:not(:nth-child(4n)) {
  margin-right: 24px;
}
.link-our {
  background-color: var(--primary-color);
  border-radius: 0px 0px 4px 4px;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--portfolio-color);
  margin-bottom: 8px;
}
.container-list-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
.profession-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--header-color);
}
.card-studio {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* FOOTER */
.footer {
  background-color: var(--portfolio-color);
  padding-top: 101.5px;
  padding-bottom: 100px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-origin);
  margin-top: 17.5px;
}
.footer-logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-origin);
}
/* NOT-VISIBLI */

/* <!-- BUTTON PORTFOLIO --> */
.portfolio-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-origin);
  border: 1x solid #E7E9FC;
  border-radius: 4px;
  cursor: pointer;
  flex: none;
  order: 4;
  flex-grow: 0;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-color);
  background-color: var(--secondery-color);
}
/* <!-- LIST WORKS --> */
.main-about {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
}
/* <!-- LIST WORKS --> */
/* <!-- BUTTON PORTFOLIO --> */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}
.list-button {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}
.portfolio-button {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-portfolio:not(:last-child) {
  margin-right: 24px;
}